@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply transition-all duration-100 ease-in-out bg-[#ececec] dark:bg-[#181818];
    }

    ol, ul {
        list-style-type: list-revert;
        margin-left: 1.5rem;
    }

    ::marker {
        font-weight: bold;
    }
}

html,
body,
#__next {
    background-color: var(--background);
    color: var(--color);
    height: 100%;
    width: 100%;
}

.transition-height {
    transition: height 1s ease;
}

hr {
    border-color: #c1c1c1;
}
